@model IEnumerable<kuliah.Models.Perkuliahan>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nim)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Kode_MK)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nip)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nilai)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nim)
                </td>
            <td>
                @Html.DisplayFor(modelItem => item.Kode_MK)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nip)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nilai)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Nim">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Nim">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Nim">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
